@import "../../assets/variables.scss";

.transaction-item {
  display: flex;
  justify-content: space-between;
  border: 1px solid rgb(216, 211, 211);
  border-radius: 8px;
  padding: 0px 8px;
  margin-bottom: 4px;

  .transaction-description {
    line-height: 1;
    .transaction-notes {
      font-style: italic;
    }
  }

  .transaction-item-RHS {
    display: flex;
    p {
      font-size: 18px;
      align-self: center;
    }
    .income {
      color: #039be5;
    }
    .expense {
      color: #e51c23;
    }
    .remove-and-edit-buttons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .remove-transaction,
      .edit-transaction {
        align-self: flex-start;
        border: none;
        outline: none;
        color: lightgrey;
        cursor: pointer;
        margin: 16px 0 0 12px;

        background: none;
      }
      .remove-transaction:hover {
        color: #e51c23;
      }
      .edit-transaction:hover {
        color: $theme-color;
      }
    }
  }
}
