@import "./variables.scss";

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.log-in-page,
.sign-up-page {
  display: flex;
  justify-content: center;
  padding-top: 20vh;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  .logo {
    width: 150px;
    align-self: center;
    img {
      max-width: 100%;
    }
  }
  .form {
    display: flex;
    flex-direction: column;
    width: 250px;

    h1 {
      color: $theme-color;
    }

    .log-in,
    .sign-up {
      display: flex;
      flex-direction: column;
      input {
        margin-block-start: 0px;
        margin-block-end: 0px;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-size: 16px;
        border: 1px solid $theme-color;
        border-radius: 4px;
        padding: 8px 4px;
      }
      .error-message-hidden {
        visibility: hidden;
      }
      .error-message {
        color: #bf1650;
        font-size: 12px;
        margin-block-start: 0px;
        margin-block-end: 0px;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
      }

      .error-message::before {
        display: inline;
        content: "⚠ ";
      }
    }
    .submit {
      align-self: flex-end;
      width: 100px;
      background: $theme-color;
      color: white;
      border: none;
      padding: 12px;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 4px;
      border-radius: 4px;
    }
    .submit:hover {
      background: $link-hover;
      cursor: pointer;
    }

    .incorrect-details {
      color: #bf1650;
      font-weight: 800;
      text-align: center;
    }
    .incorrect-details::before {
      display: inline;
      content: "⚠ ";
    }
  }

  .register a {
    font-weight: 800;
    color: $theme-color;
    font-size: 1.05em;
    text-decoration: none;
  }
  .register a:hover {
    color: $link-hover;
    text-decoration: underline;
  }
}
